In [1]:
import seaborn as sns
import pandas as pd 
import numpy as np

In [3]:
df = sns.load_dataset('iris')
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [5]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [6]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [8]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [9]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

As Logistic regression is better performing in Binary classification let us remove SETOSA from it.

In [10]:
df['species'] != 'setosa'

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: species, Length: 150, dtype: bool

In [14]:
df = df[df['species'] != 'setosa']

In [15]:
df.head(10)

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor

Using Map to assign 0 and 1 values to versicolor and virginica.

In [18]:
df['species'] = df['species'].map({'versicolor':0,'virginica':1})

C:\Users\arc10\AppData\Local\Temp\ipykernel_22076\168734514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['species'] = df['species'].map({'versicolor':0,'virginica':1})

In [19]:
df['species']

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [20]:
# splitting the data into Dependent and Independent variable

In [21]:
X = df.iloc[:,:-1]

y = df.iloc[:,-1]

In [22]:
X

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[100 rows x 4 columns]

In [23]:
y

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 25 , random_state=42)

In [25]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()

In [29]:
from sklearn.model_selection import GridSearchCV

parameters = {'penalty': ['l2','l1','elasticnet'], 'C':[1,2,3,4,5,6,7,8,99,88,66,5,54],'max_iter':[500,600,700]}

In [30]:
classifier_reg = GridSearchCV(classifier,parameters,scoring='accuracy',cv=10)

In [31]:
classifier_reg.fit(X_train,y_train)

C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
780 fits failed out of a total of 1170.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
390 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
390 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\arc10\Anaconda\App\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan
 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan]
  warnings.warn(

GridSearchCV(cv=10, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 7, 8, 99, 88, 66, 5, 54],
                         'max_iter': [500, 600, 700],
                         'penalty': ['l2', 'l1', 'elasticnet']},
             scoring='accuracy')

In [32]:
print(classifier_reg.best_params_)

{'C': 1, 'max_iter': 500, 'penalty': 'l2'}

In [33]:
print(classifier_reg.best_score_)

0.975

## Predict

In [36]:
y_pred = classifier_reg.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score, classification_report

score = accuracy_score(y_pred,y_test)

print(score)

0.92

In [40]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.93      0.93      0.93        14
           1       0.91      0.91      0.91        11

    accuracy                           0.92        25
   macro avg       0.92      0.92      0.92        25
weighted avg       0.92      0.92      0.92        25